.web-name {
  font-weight: bold;
  span:first-child {
    color: var(--ion-color-primary);
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
  
  ion-spinner {
    width: 40px;
    height: 40px;
  }
}

.header-grid {
  background-color: var(--ion-color-light);
  font-weight: bold;
  padding: 10px 5px;
  
  ion-row {
    align-items: center;
  }
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  
  ion-grid {
    width: 100%;
    padding: 10px 5px;
    
    ion-row {
      align-items: center;
    }
  }
}

ion-select {
  max-width: 100%;
  padding: 5px;
  font-size: 0.9em;
}

.custom-modal {
  --width: 80%;
  --height: 80%;
  --border-radius: 10px;
}