<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>My Usage</ion-title>

    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-list *ngIf="filteredSpaces.length > 0">
        <ion-card *ngFor="let space of filteredSpaces" (click)="toUse(space.id)">
          <ion-card-header>
            <ion-card-title>{{ space.space_type }}</ion-card-title>
            <ion-card-subtitle>ID: {{ space.id }}</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Status:</ion-label>
              <ion-badge>{{ space.status }}</ion-badge>
            </ion-item>
            
            <ion-item lines="none">
              <ion-label>Rate:</ion-label>
              <ion-text>¥{{ space.charging_rate }}/kWh</ion-text>
            </ion-item>
            
            <ion-item lines="none">
              <ion-label>Parking Rate:</ion-label>
              <ion-text>¥{{ space.parking_rate }}</ion-text>
            </ion-item>
            
            <ion-item lines="none" *ngIf="space.overtime_occupancy_rate">
              <ion-label>Overtime Rate:</ion-label>
              <ion-text>¥{{ space.overtime_occupancy_rate }}</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <div *ngIf="filteredSpaces.length === 0" class="empty-state">
        <ion-grid class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-icon 
                name="car-sport-outline" 
                color="medium" 
                class="empty-icon"
              ></ion-icon>
              
              <h2 class="ion-text-wrap ion-margin-top">
                暂时没有正在使用的车位
              </h2>
              
              <ion-button 
                fill="solid" 
                color="primary" 
                class="ion-margin-top empty-state-button"
                routerLink="/tabs/tab1"
              >
                <ion-icon slot="start" name="flash-outline"></ion-icon>
                立即寻找车位
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

  </ion-content>