.empty-state {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .empty-icon {
      font-size: 64px;
      opacity: 0.8;
    }
  
    h2 {
      color: var(--ion-color-medium);
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.4;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  
    &-button {
      --border-radius: 12px;
      --padding-top: 16px;
      --padding-bottom: 16px;
      font-weight: 600;
    }
  }