<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>aaaa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="chart-container">
    <canvas id="lineChart"></canvas>
  </div>
<ion-content>
  <canvas id="myChart"></canvas>
</ion-content>

  <div class="chart-container">
    <canvas id="barChart"></canvas>
  </div>

  <!-- 饼图 -->
  <div class="chart-container">
    <canvas id="pieChart"></canvas>
  </div>
 
  <!-- 折线图 -->
  <div class="chart-container">
    <canvas id="lineChart"></canvas>
  </div>
 
  <!-- 环状图 -->
  <div class="chart-container">
    <canvas id="doughnutChart"></canvas>
  </div>
</ion-content>
