<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label position="floating">User name</ion-label>
  <ion-input type="text" [(ngModel)]="username"></ion-input>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
  <ion-label position="floating">Confirm password</ion-label>
  <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  <ion-button expand="block" (click)="register()">Register</ion-button>
</ion-content>
