<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Parking Space</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <p>Loading parking spaces...</p>
  </div>
  <div *ngIf="!isLoading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ space.space_type }}</ion-card-title>
        <ion-card-subtitle>Status: {{ space.status }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Rate:</ion-label>
            <ion-text>¥{{ space.charging_rate }}/kWh</ion-text>
          </ion-item>
          
          <ion-item>
            <ion-label>Parking Rate:</ion-label>
            <ion-text>¥{{ space.parking_rate }}/hour</ion-text>
          </ion-item>

          <ion-item *ngIf="space.overtime_occupancy_rate">
            <ion-label>Overtime Rate:</ion-label>
            <ion-text>¥{{ space.overtime_occupancy_rate }}/min</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-list *ngIf="hasVehicle">
    <ion-card *ngFor="let Vehicle of MyCarArray " (click)="getCarID(Vehicle.id)" [class.selected-card]="selectedCarId === Vehicle.id">
      <ion-card-header>
        <ion-card-title>Your Vehicle</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>License Plate:</ion-label>
          <ion-text>{{ Vehicle.license_plate }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Type:</ion-label>
          <ion-text>{{ Vehicle.type }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>


      <ion-button 
      *ngIf="space.status === 'idle'"
      expand="block" 
      [disabled]="!hasVehicle"
      (click)="openBookingModal()">
      Book Now
    </ion-button>
    
    <ion-button 
      *ngIf="space.status === 'booked'"
      expand="block"
      [disabled]="!isMyCar"
      (click)="isMyCar && cancelBook()">
      {{ isMyCar ? 'Cancel Booking' : 'Booked By Others' }}
    </ion-button>

    <ion-button 
    *ngIf="space.status === 'booked'"
    expand="block"
    [disabled]="!isMyCar"
    (click)="isMyCar&&getBookMess()">
    Start Usage
  </ion-button>
    
    <ion-button 
      *ngIf="space.status === 'idle'"
      expand="block"
      [disabled]="!hasVehicle"
      (click)="openUsageModal()">
      Start Usage
    </ion-button>

    <ion-button 
      *ngIf="space.status === 'occupied'"
      expand="block"
      [disabled]="!isMyCar"
      (click)="isMyCar && toCloseOrder()">
      End Usage
    </ion-button>
    

    <ion-modal [isOpen]="isBookingModalOpen" (ionModalDidDismiss)="closeModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Confirm Booking</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          

          <ion-item>
            <ion-label position="stacked">Duration (0-60 minutes)</ion-label>
            <ion-range 
              [(ngModel)]="duration" 
              min="0" 
              max="60" 
              step="1"
              (ionChange)="updateEndTime()">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">60</ion-label>
            </ion-range>
            <ion-note slot="end">{{ duration }} mins</ion-note>
          </ion-item>
    
          <ion-item>
            <ion-label>End Time:</ion-label>
            <ion-text color="primary">
              {{ endTime | date: 'yyyy-MM-dd HH:mm' }}
            </ion-text>
          </ion-item>
    
          <ion-button expand="block" (click)="confirmBooking()" [disabled]="!startTime">
            Confirm
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isUsageModalOpen" (ionModalDidDismiss)="closeModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Confirm Usage</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">Charging Start Time</ion-label>
            <ion-datetime 
              [(ngModel)]="usageStartTime"
              [min]="currentTime"
              presentation="date-time"
              preferWheel="true"
            ></ion-datetime>
          </ion-item>
    
          <ion-button expand="block" (click)="confirmModalTwo()">Confirm</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isUpDateModalOpen" (ionModalDidDismiss)="closeModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>结束使用</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">关闭</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">开始时间</ion-label>
            <ion-text>{{ orderStartTime | date: 'yyyy-MM-dd HH:mm' }}</ion-text>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">充电开始时间</ion-label>
            <ion-text>{{ orderChargingStart | date: 'yyyy-MM-dd HH:mm' }}</ion-text>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">充电完成时间</ion-label>
            <ion-datetime
              [(ngModel)]="chargingCompleteTime"
              [min]="minChargingCompleteTime"
              presentation="date-time"
              preferWheel="true"
              locale="zh-CN"
              doneText="完成"
              cancelText="取消"
              (ionChange)="updateEndTimeLimits()">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">结束时间</ion-label>
            <ion-datetime
              [(ngModel)]="endTime"
              [min]="minEndTime"
              presentation="date-time"
              preferWheel="true"
              locale="zh-CN"
              doneText="完成"
              cancelText="取消">
            </ion-datetime>
          </ion-item>
    
          <ion-button expand="block" (click)="confirmModalThree()" [disabled]="!chargingCompleteTime">
            确认结束使用
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>


  </div>
</ion-content>


