ion-app {
  display: flex;
  height: 100vh;
}

.menu-container {
  width: 250px;
  flex: 0 0 auto;
  height: 100%;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background: white;
}

#main-content {
  flex: 1;
  min-width: 0;
}

ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
}



ion-router-outlet#main-content.has-show {
  margin-left: 250px;
  width: calc(100% - 250px);
}

ion-router-outlet#main-content.no-show {
  width:100%;
}