<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MyComment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list *ngIf="comment.length>0">
    <ion-item *ngFor="let commentItem of comment" class="comment-item">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="3">
            <ion-avatar class="large-avatar">
              <img [src]="'../../assets/images/' + commentItem.avatar_number + '.png'">
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <ion-row class="ion-align-items-center">
              <ion-col size="8">
                <h2 class="user-name">{{ commentItem.name }}</h2>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-text color="warning">
                  {{ commentItem.rating }} ★
                </ion-text>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <ion-note class="comment-time">
                  {{ commentItem.created_at | date:'yyyy-MM-dd HH:mm' }}
                </ion-note>
                <p class="comment-content">{{ commentItem.comment }}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
